{% extends 'base.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
      <article class="gallery-wrap"> 
          <div class="img-big-wrap">
            <a href="{{single_product.image.url}}"><img src="{{single_product.image.url}}"></a>
          </div> <!-- img-big-wrap.// --> 


      </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">


    <form action="{% url 'carts:add_cart' single_product.id %}" method="POST">
      {% csrf_token %}
      <article class="content-body">
      <h2 class="title">{{single_product.product_name|capfirst}}</h2>
      <div class="mb-3"> 
          <var class="price h4">Rp. {{single_product.price}}</var> 
      </div> 
      <p>{{single_product.description}}</p>
      <b>Product Stock : </b>{{stock}}
      <hr>
          <div class="row">
              <div class="item-option-select">
                  <h6>Choose Color</h6>
                  <select name="color" class="form-control" required>
                    <option value="" disabled selected>Choose Color</option>
                    {% for i in single_product.variation_set.colors %}
                    <option  value="{{i.variation_value | lower}}">{{i.variation_value}}</option>
                    {% endfor %}
                  </select>
              </div>
          </div> <!-- row.// -->
          <div class="row">
              <div class="item-option-select">
                  <h6>Select Size</h6>
                  <select name="size" class="form-control" required>
                    <<option value="" disabled selected>Choose Size</option>
                    {% for i in single_product.variation_set.sizes %}
                    <option  value="{{i.variation_value|lower}}">{{i.variation_value}}</option>
                    {% endfor %}
                  </select>
              </div>
          </div> <!-- row.// -->  
          
          <hr>
          {% if single_product.stock <= 0%}
              <h3 class='text-danger text-center'>Out Of Stock</h3>
          {% else %}
          <button type="submit" class="btn  btn-dark"> <span class="text">Add to Cart</span> <i class="fas fa-shopping-cart"></i>  </button>
          {% endif %}
      </article> <!-- product-info-aside .// -->
    </form>
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
    
    <div class="row">
                <div class="col-md-9">
    
        
        <form action="{% url 'store:submit_review' product_id=single_product.id %}" method="post">
        {% csrf_token %}
        {% include 'includes/alerts.html' %}
        <h5>Write Your Review</h5>
        <div>
            
            {% comment %} ratting stars {% endcomment %}
            <label>How Do You Rate This Product?</label>
            <br>
            <div class="rate">
                <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
            </div>
            <br>
            Review Title:
            <input type="text" class="form-control" name="subject" required>
            
            Review:
            <textarea name="review" class="form-control" rows="4"></textarea>
            <br>
            {% if user.is_authenticated %}
            {% if orderproduct %}
            <input type="submit" value="Submit Review" class="btn btn-dark">
            {% else %}
            <p>You must purchase this product to post a review</p>
            {% endif %}
            {% else %}
            <p>You must be logged in to post review. <span><a href="{% url 'accounts:login' %}">Login Now</a></span></p>
            {% endif %}
        </div>
        
        </form>
        <br>
        <header class="section-heading">
            <h3>Customer Reviews </h3>  
            
        </header>
        {% for review in reviews %}
        <article class="box mb-3">
            <div class="icontext w-100">
                <img src="{% static './images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
                <div class="text">
                    <span class="date text-muted float-md-right">{{review.updated_date}} </span>  
                    <h6 class="mb-1">{{review.user.full_name}} </h6>
                    <div class="rating-star">
                        <span><i class="{% if review.rating == 0.5 %}fa fa-star-half-stroke{% elif review.rating < 1 %}fa-regular fa-star {% else %}fa fa-star {% endif %}" aria-hidden="true"></i></span>
                        <span><i class="{% if review.rating == 1.5 %}fa fa-star-half-stroke{% elif review.rating < 2 %}fa-regular fa-star {% else %}fa fa-star {% endif %}" aria-hidden="true"></i></span>
                        <span><i class="{% if review.rating == 2.5 %}fa fa-star-half-stroke{% elif review.rating < 3 %}fa-regular fa-star {% else %}fa fa-star {% endif %}" aria-hidden="true"></i></span>
                        <span><i class="{% if review.rating == 3.5 %}fa fa-star-half-stroke{% elif review.rating < 4 %}fa-regular fa-star {% else %}fa fa-star {% endif %}" aria-hidden="true"></i></span>
                        <span><i class="{% if review.rating == 4.5 %}fa fa-star-half-stroke{% elif review.rating < 5 %}fa-regular fa-star {% else %}fa fa-star {% endif %}" aria-hidden="true"></i></span>

                        {% comment %}  {% endcomment %}
                    </div>
                </div>
            </div> <!-- icontext.// -->
            <div class="mt-3">
                <h6>{{review.subject}}</h6>
                <p>
                    {{review.review}}
                </p>	
            </div>
        </article>
        {% endfor %}
        
    
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}