{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
            {% include 'includes/alerts.html' %}
          <h4 class="card-title mb-4 text-center">Reset Password</h4>
          <form method="POST" action="{% url 'accounts:resetPassword' %}">
            {% csrf_token %}
              <div class="form-group">
                {{forms.password}}
              </div> <!-- form-group// -->
              <div class="form-group">
                {{forms.confirm_password}}
              </div> <!-- form-group// -->
              </div> <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-dark btn-block"> Reset Password  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="{% url 'accounts:register' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}